body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.black {
  background-color: black;
}
.yellow {
  background-color: gold;
}
.yellowgreen {
  background-color: yellowgreen;
}
.aqua {
  background-color: aqua;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: royalblue;
}
.red {
  background-color: orangered;
}

.heading {
  width: 100vw;
  text-align: center;
}
.heading-wrapper {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.heading h2 {
  font-family: "Times New Roman", Times, serif;
  padding: 12px;
}
.brain-icon {
  padding: 8px;
}
.color-circle {
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 2px;
}
.selected {
  height: 2rem;
  width: 2rem;
}
.output {
  color: black;
}
.output-row1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1px;
}
.output-circle {
  height: 0.7rem;
  width: 0.7rem;
  margin: 0.2rem;
}

.check-icon {
  font-size: 1.5rem;
}
.submit-button {
  background-color: white;
  border: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.input-section {
  display: flex;
  flex-direction: row;
  margin: 2px;
  opacity: 0.5;
}
.selected-input {
  opacity: 1;
  border: 1px solid black;
  border-radius: 2%;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.selection-box {
  margin-bottom: 15px;
}
p {
  text-align: center;
  font-size: 8px;
}
.empty-button {
  margin: 1.1rem;
}

/*Modals*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  background-color: rgba(37, 107, 212, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-box {
  padding: 2rem;
  background-color: white;
  min-width: 60%;
  text-align: center;
}
.okay {
  background-color: white;
  border: 1px solid black;
  padding: 0.4rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  transition: 0.5s;
}
.okay:hover {
  background-color: black;
  color: white;
}
