body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yellow {
  background-color: gold;
}
.yellowgreen {
  background-color: yellowgreen;
}
.aqua {
  background-color: aqua;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: royalblue;
}
.red {
  background-color: orangered;
}

.heading {
  width: 100vw;
  text-align: center;
}
.heading-wrapper {
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.heading h2 {
  font-family: "Times New Roman", Times, serif;
  padding: 12px;
}
.brain-icon {
  padding: 8px;
}
.color-circle {
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 2px;
}
.output {
  color: black;
}
.output-row1,
.output-row2 {
  display: flex;
  flex-direction: row;
  margin: 1px;
}
.output-circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  margin: 1px;
}
.submit-button {
  background-color: white;
  border: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.input-section {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.selection-box {
  color: black;
}
